{% extends "base.html.twig" %}

{% block title %}Demo blog | admin | create post{% endblock %}

{% block body %}
    {{ parent() }}
    {{ form_start(form) }}
    <table>
        <tr>
            <td>{{form_label(form.id)}}</td>
            <td>{{form_widget(form.id)}}</td>
        </tr>
        <tr>
            <td>{{form_label(form.titel)}}</td>
            <td>{{form_widget(form.titel)}}</td>
        </tr>
        <tr>
            <td>{{form_label(form.subtitel)}}</td>
            <td>{{form_widget(form.subtitel)}}</td>
        </tr>
        <tr>
            <td>{{form_label(form.previewText)}}</td>
            <td>{{form_widget(form.previewText)}}</td>
        </tr>
        <tr>
            <td>{{form_label(form.mainText)}}</td>
            <td>{{form_widget(form.mainText)}}</td>
        </tr>
        <tr>
            <td>{{form_label(form.image)}}</td>
            <td>{{form_widget(form.image)}}</td>
        </tr>
    </table>
    {{ form(form) }}
    {{ form_end(form) }}
{% endblock %}
