{% extends "base.html.twig" %}

{% block title %}Demo blog{% if page > 1 %} | page {{page}}{% endif %}{% endblock %}

{% block body %}
    {{ parent() }}
    {% for post in posts %}
        <div class="postPreview">
            {{post.publishedAt|date('Y-m-d H:i:s')}}
            <h3>{{post.titel}}</h3>
            <h4>{{post.subtitel}}</h4>
            <p>{{post.previewText}}</p>
            <a href="{{path('view_post', {'post': post.id})}}">Lees meer -></a>
            {% if post.image != null %}
                <div><img src="/images/{{post.image}}"></div>
            {% endif %}
            <br></br><br></br>
        </div>
    {% endfor %}
    {% for i in 1..totalPages %}
        {% if i == page %}
            <a><button type="button" class="btn btn-primary">{{i}}</button></a>
        {% else %}
            <a href="{{path('home_page', {'page': i})}}">
<button type="button" class="btn btn-info">{{i}}</button></a>
        {% endif%}
    {% endfor %}
{% endblock %}
