{% extends "base.html.twig" %}

{% block title %}Demo blog | {{post.titel}}{% endblock %}

{% block body %}
    {{ parent() }}
    <div>
        {{post.publishedAt|date('Y-m-d H:i:s')}}
        <h3>{{post.titel}}</h3>
        <h4>{{post.subtitel}}</h4>
        <p>{{post.previewText}}</p>
        <p>{{post.mainText}}</p>
        {% if post.image != null %}
            <div><img src="/images/{{post.image}}"></div>
        {% endif %}
    </div>
    {{ form(form) }}
    {% for comment in comments %}
        <div class="comment">
            <br></br>
            {{comment.username}} at {{comment.timestamp|date('Y-m-d H:i:s')}}
            <p>{{comment.text|raw}}</p>
        </div>
    {% endfor %}
    <br></br>
    {% for i in 1..totalPages %}
        {% if i == page %}
            <a><button type="button" class="btn btn-primary">{{i}}</button></a>
        {% else %}
            <a href="{{path('view_post', {'post': post.id,'page': i})}}">
<button type="button" class="btn btn-info">{{i}}</button></a>
        {% endif%}
    {% endfor %}
{% endblock %}
