<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Demo blog | {{post.titel}}</title>
    </head>
    <body>
        {% include("header.html.twig") %}
        <div>
            {{post.publishedAt|date('Y-m-d H:i:s')}}
            <h3>{{post.titel}}</h3>
            <h4>{{post.subtitel}}</h4>
            <p>{{post.previewText}}</p>
            <p>{{post.mainText}}</p>
        </div>
    </body>
</html>
